* {
    margin: 0;
    padding: 0;
}

nav {
    border-radius: 1%;
    width: 100%;
    height: 100px;
    background-color: black;
}
ul {
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    margin-left: 60px;
}
ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
}
ul li a {
    display: block;
    font-size: 150%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 0 20px;
}
ul li a:hover {
    color: #ff7504;
    transition: 0.5s;
}


















/*----- Animation -----*/


section {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, red, #E73C, pink, #23d5ab);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
#textprof {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10%;
    float: right;
}
@keyframes change {
    0%{
        background-position: 0 50%;
        
    }
    50%{
        background-position: 100% 50%;
        
    }
    100%{
        background-position: 0 50%;
        
    }
}
/*----- Animation -----*/
.profile {
    float: left;
    padding-left: 20%;
}
#textp {
    float: right;
    padding-right: 8%;
}
.programming {
    float: right;
    padding-top: 20rem;
}
.office {
    float: left;
    padding-top: 1rem;
}